<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="project-header">
        <img src="/images/InclusiLearn.png" alt="" class="headerimg">
    </div>
    <div class="page">
        
        <div class="wrapper">
            <div class="heading">
                <div class="upper">Sign Up,<br>
                    and start sharing your story.</div>
                <div class="down">Register to be able to share your content and connect with others.</div>
            </div>
            <form action="/register" method="POST">
                <label for="name">Your name</label>
                <input class="up" type="name" name="username" id="name" placeholder="Type your name here">
                <label for="email">Your e-mail</label>
                <input class="up" type="email" name="email" id="email" placeholder="Type your e-mail here">
                <label for="phone">Your Phone number</label>
                <input class="up" type="number" name="number" id="phone" placeholder="Type your phone no. here">
                <label for="about">Tell Us About Yourself</label>
                <input class="up" type="text" name="description" id="about" placeholder="Type about yourself here">
                <label for="password">Your Password</label>
                <input class="up" type="password" name="password" id="password" placeholder="at least 6 characters ">
                <label for="confirmPassword">Confirm your Password</label>
                <input class="up" type="password" name="verifiedPassword" id="confirmPassword" placeholder="at least 6 characters ">
                <div class="message"></div>
                <div class="submitbtn">
                    <input type="submit" value="Register"  style="background-color: #6B69E2; color: #fff; padding: 10px 20px; border-radius: 15px; border: none; cursor: pointer; font-size: 16px;">
                                </div>

                <div class="signup">Already have an account? <a href="/login" class="button">Log In</a>  </div>
            </form>
        </div>
        <script src="/js/signup.js"></script>
</body>

</html>